h1 {
    color: #f00e6c;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #3d3d3d;
    
}

input {
    width: 5%;
    height: 30px;
    border: 1px solid #f00e6c;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 20px;
}

form {
    text-align: center;
    margin-top: 10px;
}

.divbotao {
    width: 1000px;
    margin-left: 600px;
    margin-right: auto; 
    margin-top: 10px;
    display: none;
}

button {
    width: 10%;
    height: 30px;
    border: 1px solid #f00e6c;
    border-radius: 5px;
    background-color: #f00e6c;
    color: #fff;
    font-size: 20px;
}

button:hover {
    background-color: #fff;
    color: #f00e6c;
    cursor: pointer;
}

.restartbutton {
    width: 20%;
    height: 30px;
    border: 1px solid #f00e6c;
    border-radius: 5px;
    background-color: #f00e6c;
    color: #fff;
    font-size: 20px;
    margin-left: 600px;
    margin-right: auto; 
    margin-top: 10px;
}

/* Estilos para a janela modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
  }
  
  .close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

.openModalBtn {
    display: none;
}

.resposta {
    font-size: 20px;
    color: #f00e6c;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}